extends ../common/common
block admin 
  .mws-panel.grid_8
      .mws-panel-header
        span(_msthash='1192334', _msttexthash='7421336') 食品修改
      .mws-panel-body.no-padding
        form.mws-form(action='/admin/gooddoupdate'  method="POST" enctype="multipart/form-data")
          .mws-form-block
            .mws-form-row
              label.mws-form-label(_msthash='2469805', _msttexthash='14920594' ) 食品名称
              .mws-form-item
                input.large(type='text' name="foodname" value=`${data[0].foodname}`)
                input.large(type='hidden' name='id' value=`${id}`)
            .mws-form-row
              label.mws-form-label(_msthash='2470052', _msttexthash='19223191') 食品图片
              .mws-form-item
                img(src=`https://guishiyuan.oss-cn-beijing.aliyuncs.com/${data[0].foodpic}` width='100px')
            .mws-form-row
              label.mws-form-label(_msthash='2470052', _msttexthash='19223191') 新食品图片
              .mws-form-item
                input.large(type='file' name="newfoodpic" )    
            .mws-form-row
              label.mws-form-label(_msthash='2470052', _msttexthash='19223191') 宣传语
              .mws-form-item
                input.large(type='text' name="descr" value=`${data[0].descr}`)    
            .mws-form-row
              label.mws-form-label(_msthash='2470052', _msttexthash='19223191') 食品价格
              .mws-form-item
                input.large(type='text' name="price" value=`${data[0].price}`)
            .mws-form-row
              label.mws-form-label(_msthash='2470221', _msttexthash='11446500') 所属商家
              .mws-form-item
                select.large(name="shoplist_id" )
                  option(value="") --请选择--
                  -for(let v of data)
                    option(value=`${v.id}`) --#{v.shopname}-- 
                  
                    
          
          .mws-button-row
            input.btn.btn-danger(type='submit', value='提交', _mstvalue='4418960')
            input.btn(type='reset', value='重置', _mstvalue='6789263')